html, body, #app {
  width: 100%;
  height: 100%;
}

/*查询表单的灰色背景*/
.formBox-top {
  width: 100%;
  padding: 15px 15px 0;
  background: #f0f0f0;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

/*表单校验必填项红星*/
.star > label.el-form-item__label::before {
  content: '*';
  margin-right: 4px;
  color: #fb6041;
}

/*必填项不能为空*/
.isNotNull {
  line-height: 1;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  color: #fb6041;
}

/*系统管理模块左右拖拽*/
.menu_box {
  width: 100%;
  height: 100%;
}

.menu_content {
  width: auto;
  position: absolute;
  top: 0;
  left: 174px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
}

.menu_navBar {
  width: 174px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

/*拖拽线*/
#resize_menu {
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 172px;
  border-right: 2px solid #eaedf1;
  cursor: col-resize;
}

/*input 输入框取消箭头*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*红色字体*/
.redText {
  color: #fb6041;
}

/*树形表格重置内边距*/
.el-table__expanded-cell[class*=cell] {
  padding: 20px;
}

/*改变没有按钮的表格行高度*/
.isNotBtnTable.el-table tr th,
.isNotBtnTable.el-table tr td {
  padding: 0;
  height: 40px;
  line-height: 40px;
}

/*可展开表格*/
.expendTable .el-table__expand-column .cell {
  display: none;
}

.fontSize18 {
  font-size: 18px;
}

.displayFlexRow {
  display: flex;
  flex-direction: row;
}

.displayInlineBlock {
  display: inline-block;
}

.flex_1 {
  flex: 1;
}

.flex_2 {
  flex: 2;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.borderLeft {
  border-left: 1px solid #ddd;
}

.borderRight {
  border-right: 1px solid #ddd;
}

.paddingLeft20 {
  padding-left: 20px;
}

.paddingRight20 {
  padding-right: 20px;
}

.paddingBottom15 {
  padding-bottom: 15px;
}

.marBottom0 {
  margin-bottom: 0;
}

.marBottom7 {
  margin-bottom: 7px;
}

.marBottom10 {
  margin-bottom: 10px;
}

.marBottom15 {
  margin-bottom: 15px;
}

.marBottom20 {
  margin-bottom: 20px;
}

.marBottom50 {
  margin-bottom: 50px;
}

.marRight10 {
  margin-right: 10px;
}

.marRight20 {
  margin-right: 20px;
}

.marRight30 {
  margin-right: 30px;
}

.widthAll {
  width: 100%;
}

.width200 {
  width: 200px;
}

/*dialog的标题*/
.el-dialog__header {
  border-bottom: 1px solid #ddd;
}

.el-dialog__footer {
  border-top: 1px solid #ddd;
  padding: 15px 20px;
}

.el-dialog__body {
  padding-bottom: 5px;
}

.borderBox {
  border: 1px solid #ddd;
  padding: 20px;
}

.primaryBtn {
  display: inline-block;
  background-color: #409EFF;
  color: #fff;
  padding: 3px 4px;
  border-radius: 3px;
}

.successBtn {
  display: inline-block;
  background-color: #67C23A;
  color: #fff;
  padding: 3px 4px;
  border-radius: 3px;
}

.warningBtn {
  display: inline-block;
  background-color: #E6A23C;
  color: #fff;
  padding: 3px 4px;
  border-radius: 3px;
}

/*表格头部背景*/
.el-table .el-table__header tr,
.el-table .el-table__header tr th {
  background-color: #f0f0f0;
}

.visibility {
  visibility: hidden;
}

/*自定义dialog头部样式*/
.dialogTitle span.title {
  font-size: 18px;
  font-weight: bold;
}

.dialogTitle i {
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-right: 30px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
}

.el-dialog.is-fullscreen {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

/*头部标签页 隐藏内容区域*/
.template-tabs .el-tabs.el-tabs--border-card {
  box-shadow: none;
  border-bottom: none;
  border-top: none;
}

.template-tabs .el-tabs.el-tabs--border-card .el-tabs__content {
  display: none;
}

#tab-index .el-icon-close {
  display: none;
}
